<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<main role="main" class="container">

    <div class="border-bottom mt-5 mb-5">
        <h1>送付先の住所</h1>
    </div>

    <% var ers = locals.errors || []; %>
    <% var org = locals.original || {}; %>

    <form method="post" action="/address/register">
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName"
                       name="firstName"
                       value="<%= org.firstName %>" placeholder="姓"/>
                <% if (ers.length !== 0) { %>
                    <% ers.forEach(function (value) { %>
                        <% if (value.param === "firstName") { %>
                            <div class="alert alert-danger">
                                <small><%= value.msg %></small>
                            </div>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName"
                       name="lastName"
                       value="<%= org.lastName %>" placeholder="名"/>
                <% if (ers.length !== 0) { %>
                    <% ers.forEach(function (value) { %>
                        <% if (value.param === "lastName") { %>
                            <div class="alert alert-danger">
                                <small><%= value.msg %></small>
                            </div>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="telephone" name="telephone"
                       value="<%= org.telephone %>" placeholder="電話番号"/>
                <% if (ers.length !== 0) { %>
                    <% ers.forEach(function (value) { %>
                        <% if (value.param === "telephone") { %>
                            <div class="alert alert-danger">
                                <small><%= value.msg %></small>
                            </div>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="zipCode" name="zipCode"
                       value="<%= org.zipCode %>" placeholder="郵便番号"/>
                <% if (ers.length !== 0) { %>
                    <% ers.forEach(function (value) { %>
                        <% if (value.param === "zipCode") { %>
                            <div class="alert alert-danger">
                                <small><%= value.msg %></small>
                            </div>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="address"
                       name="address"
                       value="<%= org.address %>" placeholder="住所"/>
                <% if (ers.length !== 0) { %>
                    <% ers.forEach(function (value) { %>
                        <% if (value.param === "address") { %>
                            <div class="alert alert-danger">
                                <small><%= value.msg %></small>
                            </div>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="isDefault" name="isDefault" value="1">
            <label class="form-check-label" for="isDefault">この住所をデフォルトとして設定する</label>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" class="btn btn-primary" value="住所を追加"/>
            </div>
        </div>
    </form>

</main>

</body>

</html>