<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ユーザー登録</title>
</head>

<body>

<main role="main" class="container">

    <div class="border-bottom mt-5 mb-5">
        <h1>ユーザー登録</h1>
    </div>

    <% var ers = locals.errors || []; %>
    <% var org = locals.original || {}; %>

    <form method="post" action="/account/register">
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName"
                       name="firstName"
                       value="<%= org.firstName %>" placeholder="姓"/>
                <% if (ers.length !== 0) { %>
                    <% ers.forEach(function (value) { %>
                        <% if (value.param === "firstName") { %>
                            <div class="alert alert-danger">
                                <small><%= value.msg %></small>
                            </div>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName"
                       name="lastName"
                       value="<%= org.lastName %>" placeholder="名"/>
                <% if (ers.length !== 0) { %>
                    <% ers.forEach(function (value) { %>
                        <% if (value.param === "lastName") { %>
                            <div class="alert alert-danger">
                                <small><%= value.msg %></small>
                            </div>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="email" name="email"
                       value="<%= org.email %>" placeholder="メールアドレス"/>
                <% if (ers.length !== 0) { %>
                    <% ers.forEach(function (value) { %>
                        <% if (value.param === "email") { %>
                            <div class="alert alert-danger">
                                <small><%= value.msg %></small>
                            </div>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password"
                       name="password"
                       value="<%= org.password %>" placeholder="パスワード"/>
                <% if (ers.length !== 0) { %>
                    <% ers.forEach(function (value) { %>
                        <% if (value.param === "password") { %>
                            <div class="alert alert-danger">
                                <small><%= value.msg %></small>
                            </div>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" class="btn btn-primary" value="アカウントを作成"/>
            </div>
        </div>
    </form>

</main>

</body>

</html>