<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="/css/nodec.css">

<script>
  

  $(function() {
 
 //セレクトボックスが切り替わったら発動
 $('.userQuantity').change(function() {

   //選択したvalue値を変数に格納
   var val = $(this).val();

   $('.realUserQuantity').val(val);
   
   
 });
});

</script>

<body>
<main role="main" class="container">

    <!-- <div class="border-bottom mt-5 mb-5">    
    </div> -->

    <% if (orderItemResult == []) { %>
      <h1>カートに商品がありません</h1>
    <% } %>


    
    <% if (orderItemResult != []) { %>
      
    <h1>あなたのカート</h1>
    <a href="/">買い物に戻る</a>
      
    <br><br>
    <% orderItemResult.forEach(function (item, index) { %>
      
    　　
      
        <div class="row">
        
          <div class="col">
            <img style="max-height: 6rem;" width="auto" 
             src="./image/<%= item.item.photoURL %>">
          </div>
        
        
          <div class="col">
            <span><%= item.item.name %></span>
          </div>
        
        
          <div class="col">
            <form action="/order/change" method="POST">
              <input type="number" class="userQuantity" id="num1" min="1" max="10" value="<%= item.quantity %>" step="1" required>
              <input type="hidden" name = "itemQuantity" class ="realUserQuantity" value="<%= item.quantity %>">
              <input type="hidden" name = "orderItemId" value="<%= item._id %>">
              &nbsp;
              <!-- <input type="submit" class="btn btn-primary" value="更新"> -->
              <button class="btn btn-primary">更新</button>
              
              
            </form>
          </div>
        
          <div class="col">
            <span><%= item.item.price.toLocaleString() %>円</span>
          </div>
        
          <div class="col">
            <form action="/order/change" method="POST">    
              <input type="hidden" name = "orderItemId" value="<%= item._id %>">
              <button class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">✖</button> 
            </form>
          </div>
      
        </div>
      

      

    <% }); %>
    
    <% } %>


    
  
    <% if (orderItemResult != []) { %>
    <div class="row float-right">
      <div class="col">
        <span>合計金額</span>
        <span><%= total.toLocaleString() %></span>円
        <!-- <div class="col"> -->
      </div>
        <div class="col">
        <form action="/order/confirm" method="POST">
          <input type="hidden" name="orderItemResult" value="<%= orderItemResult %>">
          <input type="submit" class="btn btn-primary" value="ご購入手続きへ">
        </form>
      </div>
      </div>
    </div>
   

    
    
    <% } %>


    


</main>
</body>


</html>