<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<main role="main" class="container">


    <div class="row">
      <div class="col"><strong>注文確認</strong></div>
    </div><br>

    <form method="POST" action="/order/determine">
    <div class="row">
      <% orderItemResult.forEach(function (item, index) { %> 
      <div class="col">
        <img style="max-height: 3rem;" width="auto" 
             src="/image/<%= item.item.photoURL %>"><br>
        <span><%= item.item.name %></span><br>
        <span><%= item.item.price %>円</span>
        <span>×<%= item.quantity %></span>
      </div>
      <% }); %>
      <div class="col">
      </div>
    </div>
    
    <div class="row">
      <div class="col"><br><br></div>
    </div>
    

    <div class="row">
      <div class="col">
        <strong>送付先住所</strong><br>
        <span><%= address.zipcode %></span><br>
        <span><%= address.address %></span><br>
        <span><%= address.firstName + address.lastName %></span>
      </div>
      <div class="col">
        <div>小計 :               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= subTotal.toLocaleString() %>&nbsp;&nbsp;円</div>
        <span>税金 :              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= tax.toLocaleString() %>&nbsp;&nbsp;&nbsp;円</span>
        <hr>
        <div>合計金額 :           &nbsp;&nbsp;&nbsp;&nbsp;<%= total.toLocaleString() %>&nbsp;&nbsp;円</div>
      </div>
    </div>
    <br>
    
    
    <div class="row">
      <div class="col">
        <a href="/">他の連絡先を選択</a>
      </div>
    </div>
    
    <div class="row">
      <div class="col"><br><br></div>
    </div>
      
    <div class="row">
      <div class="col"><strong>支払い方法の選択</strong></div>
    </div>
    <br>

    <div class="row">
      <div class="col">
        <input type="checkbox" id='credit' name="credit" value="credit"><label for="credit">クレジットカード</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input type="checkbox" id='cash' name="cash" value="cash"><label for="cash">代金引換</label>
      </div>
      <div class="col">
        <input type="submit" value="注文を確定する" class="btn btn-primary">
      </div>
    </div>
    
    </form>
  

    

</main>
</body>
</html>