<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<main role="main" class="container">

    <!-- <div class="border-bottom mt-5 mb-5">
        <h1>注文確認</h1>
    </div> -->

   

    <div class="row">
      <div class="col"><strong>注文確認</strong></div>
    </div>

    <form method="POST" action="/order/determine">
    <div class="row">
      <% orderItemResult.forEach(function (item, index) { %> 
      <div class="col">
        <img style="max-height: 6rem;" width="auto" 
             src="./image/<%= item.item.photoURL %>">
        <span><%= item.item.name %></span>
        <span><%= item.item.price %>円</span>
        <span>×<%= item.quantity %></span>
      </div>
      <% }); %>
      <div class="col">
      </div>
    </div>
    
    <div class="row">
      <div class="col"><br><br></div>
    </div>
    

    <div class="row">
      <div class="col"><strong><!-- 送付先の住所 --></strong></div>
      <div class="col">
        <div>小計<%= subTotal %>円</div>
        <span>税金</span><%= tax %>円
        <hr>
        <div>合計金額<%= total %>円</div>
      </div>
    </div>

    <br>
    <strong>送付先住所</strong>
    <div class="row">
      <div class="col">
        <span><%= address.firstName + address.lastName %></span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span><%= address.zipcode %></span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span><%= address.address %></span>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <a href="/">他の連絡先を選択</a>
      </div>
    </div>
    
    <div class="row">
      <div class="col"><br><br></div>
    </div>
      
    <div class="row">
      <div class="col"><strong>支払い方法の選択</strong></div>
    </div>

    <div class="row">
      <div class="col">
        <input type="checkbox" id='credit' name="credit" value="credit"><label for="credit">クレジットカード</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input type="checkbox" id='cash' name="cash" value="cash"><label for="1">代金引換</label>
      </div>
      <div class="col">
        <input type="submit" value="注文を確定する">
      </div>
    </div>
    
    </form>
  

    

</main>
</body>
</html>